* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

section#articles{
    max-width: 1240px;
    padding: 0 2rem;
    margin: 4rem auto;

    display: flex;
    flex-direction: column;
    gap: 46px;
}