footer {
    background-color: #333333;
} 

footer div#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

footer div#footer p {
    gap: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}